* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;

}

.container {

  user-select: none;
  z-index: 1;
  width: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;

  position: absolute;
  /* top: calc(50% - 35vh); */
  top: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.404);
  transition: 800ms
}

.container.hide {
  transform: translateY(100vh);

}

.container.show {
  transform: translateY(-100vh);


}

.inner-container {

  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 2s
}

.header {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(30px, 60px, 90px)
}

.items {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;




}

.item {
  position: relative;
  display: flex;
  justify-content: space-around;
  /* background-color: #85FFC7; */
  width: fit-content;
  margin: 0px 30px;
  flex-wrap: wrap;


  cursor: pointer;
  transition: 2s;
}

.selected {
  /* border: 100px solid white; */
  transition: 550ms;
  border-radius: 10px;
  color: black;
  transition: 2s;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.three {
  width: 100px;
  height: 100px;
  background-color: #85FFC7
}

.clip-path-try {

  background-color: brown;
  width: 100vw;
  height: 100vh;
  /* clip-path: polygon(0% 71%, 2% 75%, 4% 78%, 7% 80%, 11% 81%, 15% 82%, 20% 84%, 25% 86%, 29% 87%, 33% 88%, 36% 89%, 40% 90%, 44% 90%, 48% 90%, 51% 89%, 54% 88%, 57% 87%, 60% 86%, 64% 85%, 69% 84%, 76% 83%, 82% 82%, 85% 80%, 88% 75%, 89% 70%, 87% 66%, 82% 61%, 77% 56%, 72% 52%, 72% 47%, 73% 43%, 76% 37%, 80% 32%, 82% 29%, 86% 26%, 88% 22%, 91% 19%, 91% 15%, 90% 10%, 90% 7%, 92% 5%, 96% 2%, 100% 0, 0% 0%); */
  clip-path: polygon(0 0, 100% 0, 71% 74%, 0% 100%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -10;
}

.left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #A61C3C;
  z-index: -9;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 78% 96%, 18% 85%, 0 65%, 0 0);
}

.description {
  display: block;
  opacity: 0;

}

.description-selected {
  cursor: default;
  opacity: 1;

}

.inner-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}

.exit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  z-index: 100;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #A61C3C;
  color: white;
}

.menuButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  background: none;
  color: white;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transition: 500ms;

}

.link {
  user-select: initial;
  color: #A61C3C;
  cursor: pointer
}

.thumbnail {

  height: 100%;
  transition: 1s;
  /* border: rgb(255, 255, 255) 10px solid; */

}

.thumbnail:hover {
  height: 100%;
  border-radius: 50px;
  color: white;

}

.thumbnail-active {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;



}

.thumbnail-active-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: .5;
  color: white;
  transition: 200ms;

}

.thumbnail-active-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: .5;
  height: 100%;
  color: white;
  transition: 200ms;
}

.thumbnail-active-left:hover {
  opacity: 1;
  border: white 5px solid;

  /* border-radius: 20px; */

}

.thumbnail-active-right:hover {
  opacity: 1;
  border: white 5px solid;
}

.inner-items {}

.text {
  height: 100px;
  margin: 0px 0px 30px 0px;

}

.project-items {
  position: relative;
  height: 0;


}

.inner-header {
  font-size: 40px;
}